@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background: #aaa;
  color: #333;
  /* I'll give you this one for free lol */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  width: 480px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
}

.icon {
  color: royalblue;
  font-size: 26px;
  font-weight: 700;
  background: lavender;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button {
  background: #eee;
  border-radius: 50%;
  color: #888;
  font-weight: 400;
  font-size: 16px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 8px 16px;
  border-radius: 8px;
}

button.continue {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
}

button.cancel {
  background: white;
  border: 1px solid #ddd;
  color: royalblue;
}

/*solution starts here*/

.modal {
  display: flex;
  justify-content: space-evenly;
  padding: 16px;
  gap: 16px;
}

/*the content has been divided into 2 boxes for the ! icon
and the rest of the modal. space-evenly is used along with
gap to create an adequate display*/

.icon {
  flex: 1 0 auto;
}

/*flex is used by fixing shrink and automating basis so
the icon isnt squashed*/

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

/*direction is set to column with the center property
and a gap to align the content*/

.left .top {
  display: flex;
  justify-content: space-between;
}

.header {
  font-size: 18px;
  font-weight: bold;
}

